<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm,$event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Single Dog</mat-card-title>
      <mat-card-subtitle>Are you single?</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img mat-card-image src="/assets/singleDog.jpg" alt="singleDog">
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>login:</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field hintLabel="Requested" class="full-width">
        <input matInput type="text" placeholder="Email" formControlName="email">
        <!-- <span matSuffix>@gmail.com</span> -->
      </mat-form-field>

      <mat-form-field class="full-width" hintLabel="Minimum 4 digits">
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error>{{loginForm.controls['password'].errors | json}}</mat-error>
      </mat-form-field>
      <br/><br/>
      <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Login</button>
    </mat-card-content>

    <mat-card-actions class="text-right">
      <p>Creat an account<a [routerLink]="['/register']">Regist Account</a></p>
      <p>Forget password?<a href="">Find Password</a></p>
    </mat-card-actions>
  </mat-card>



</form>